// 🎨 기본 스타일 적용
@import "./colors.scss";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  background: none; /* 불필요한 배경 제거 */
}


html, body, #root {
  font-family: 'Pretendard-Regular', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이 */
}

// 🚀 공통 레이아웃 스타일
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* ✅ MUI 컴포넌트 폰트 강제 적용 */
.MuiTypography-root, 
.MuiButton-root {
  font-family: 'MarinesBold', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

// ✨ 스크롤바 스타일 (선택 사항)
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}
